{{#daySchedules}}
<div class="bg-secondary font-weight-bold py-2 text-center text-white {{#unless exercises}}mb-3{{/unless}}">
  {{title}}
</div>
{{#if exercises}}
<div class="table-responsive">
  <table class="table table-borderless table-sm text-center text-wrap">
    <thead>
      <tr class="bg-primary border border-primary font-weight-bold text-white">
        <th class="align-middle" scope="col">Bài tập</th>
        <th class="align-middle" scope="col">Nhóm cơ</th>
        <th class="align-middle" scope="col">Độ khó</th>
        <th class="align-middle" scope="col">Sets</th>
        <th class="align-middle" scope="col">Reps</th>
        <th class="align-middle" scope="col">Mức tạ</th>
        <th class="align-middle" scope="col">Nghỉ</th>
        <th class="align-middle recommended-weight" scope="col">Khối lượng<br />khuyến nghị</th>
      </tr>
    </thead>
    <tbody>
      {{#exercises}}
      <tr>
        <td class="align-middle border border-primary p-2 text-left">
          {{order}}. {{name}}
          {{#if videoUrl}}
            <a href="{{videoUrl}}" rel="noopener noreferrer" target="_blank">
              <img
                alt="{{name}} video url"
                class="mb-1 ml-1"
                src="/images/youtube-logo.png"
                srcset="/images/youtube-logo.svg"
                width="20px"
              />
            </a>
          {{/if}}
        </td>
        <td class="align-middle border border-primary p-2">{{muscle}}</td>
        <td class="align-middle border border-primary p-2">{{difficulty}}</td>
        <td class="align-middle border border-primary p-2">{{sets}}</td>
        <td class="align-middle border border-primary p-2">{{reps}}</td>
        <td class="align-middle border border-primary p-2">
          {{#if rpe}}
            RPE-{{rpe}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="align-middle border border-primary p-2">
          {{#if rest}}
            {{rest}}s
          {{else}}
            -
          {{/if}}
        </td>
        <td class="align-middle border border-primary p-2">
          {{#if recommendedWeight}}
            {{recommendedWeight}}kg
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
      {{/exercises}}
    </tbody>
  </table>
</div>
{{/if}}
{{/daySchedules}}