{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "preact.h"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}