{{#rows}}
<tr data-code="{{code}}">
  <th class="align-middle" data-code="{{code}}" scope="row">{{code}}</th>
  <td class="align-middle">{{name}}</td>
  <td class="align-middle">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">RPE-</span>
      </div>
      <input class="form-control" name="rpe" type="text" />
    </div>
  </td>
  <td class="align-middle">
    <div class="input-group input-group-sm">
      <input class="form-control" name="rest" type="text" />
      <div class="input-group-append">
        <span class="input-group-text">s</span>
      </div>
    </div>
  </td>
  <td class="align-middle">
    <div class="input-group input-group-sm">
      <input class="form-control" name="recommended_weight" type="text" />
      <div class="input-group-append">
        <span class="input-group-text">kg</span>
      </div>
    </div>
  </td>
  <td class="align-middle">
    <button class="btn px-1" onclick="clearPersonalizedData('{{code}}')" type="button">
      <i class="fa fa-trash text-danger" aria-hidden="true"></i>
    </button>
  </td>
</tr>
{{/rows}}