<div class="text-center">
  <a href="{{site.vitafitHome}}" rel="noopener noreferrer" target="_blank">
    <img height="100" src="/static/logo.png" />
  </a>
</div>
<div class="mt-3">
  <h4 class="font-weight-bolder text-center text-wrap text-uppercase">{{title}}</h4>
  <h6 class="font-italic text-center text-wrap">{{subTitle}}</h6>
  <div class="mt-3 row">
    <div class="ml-auto">
      <div>Khách hàng: <strong>{{userInfo.name}}</strong></div>
      <div>Tuổi: <strong>{{userInfo.age}}</strong></div>
    </div>
    <div class="col-1"></div>
    <div class="mr-auto text-right">
      <div>Chiều cao: <strong>{{userInfo.height}} cm</strong></div>
      <div>Cân nặng: <strong>{{userInfo.weigh}} kg</strong></div>
    </div>
  </div>
</div>