<html>
{{> htmlHead }}

<body class="m-2 m-sm-5">
  <div class="container-fluid schedule">
    <div class="logo w-100"></div>
    <div class="mt-3">
      <h4 class="font-weight-bolder text-center text-wrap text-uppercase">Chế độ tập luyện hàng tuần</h4>
      <h6 class="font-italic text-center text-wrap">Tuần từ {{userInfo.period.from}} đến {{userInfo.period.to}}</h6>
      <div class="mt-3 row">
        <div class="ml-auto">
          <div class="info">Khách hàng: <strong>{{userInfo.name}}</strong></div>
          <div class="info">Chiều cao: <strong>{{userInfo.height}} cm</strong></div>
        </div>
        <div class="col-1"></div>
        <div class="mr-auto text-right">
          <div class="info">Tuổi: <strong>{{userInfo.age}}</strong></div>
          <div class="info">Cân nặng: <strong>{{userInfo.height}} cm</strong></div>
        </div>
      </div>
      <table>
        <tr>
          {{#each weekdays}}
          <td>{{title}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each weekdays}}
          <td>
            {{#each exercises}}
            <p>{{this}}</p>
            {{/each}}
          </td>
          {{/each}}
        </tr>
      </table>
    </div>
</body>

</html>