<html>
  {{> htmlHead }}
  <body>
    <div class="schedule">
      <div class="logo"></div>
      <p>CHẾ ĐỘ TẬP LUYỆN HÀNG TUẦN</p>
      <p>Tuần {{userInfo.period.from}} - {{userInfo.period.to}}</p>
      <table>
        <tr>
          <td>Khách hàng: {{userInfo.name}}</td>
          <td>Chiều cao: {{userInfo.height}} cm</td>
        </tr>
        <tr>
          <td>Tuổi: {{userInfo.age}}</td>
          <td>Cân nặng: {{userInfo.height}} cm</td>
        </tr>
      </table>
      <table>
        <tr>
          {{#each weekdays}}
            <td>{{title}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each weekdays}}
            <td>
              {{#each exercises}}
                <p>{{this}}</p>
              {{/each}}
            </td>
          {{/each}}
        </tr>
      </table>
    </div>
  </body>
</html>