<div class="table-responsive">
  <table class="mt-3 table table-borderless table-sm text-center text-wrap">
    <thead>
      <tr class="bg-primary border border-primary">
        {{#weekdays}}
        <th class="align-middle font-weight-bold text-white" scope="col">
          {{this}}
        </th>
        {{/weekdays}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#dailyCodes}}
        <td class="align-middle border border-primary">
          {{#this}}
          <div>{{this}}</div>
          {{/this}}
        </td>
        {{/dailyCodes}}
      </tr>
    </tbody>
  </table>
</div>