<div class="table-responsive">
  <table class="mt-3 table table-borderless text-center text-wrap">
    <thead>
      <tr class="bg-primary border border-primary">
        {{#each weekdays}}
        <th class="align-middle font-weight-bold text-white" scope="col">
          {{this}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each dailyCodes}}
        <td class="align-middle border border-primary">
          {{#each this}}
          <div>{{this}}</div>
          {{/each}}
        </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>