$primary: #4f86c6;
$secondary: #ed3e75;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/Myriad-Pro.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url("../static/fonts/Myriad-Pro-Bold.ttf");
}

#schedules-container body {
  font-family: "Myriad Pro", Arial, sans-serif;
  max-width: 800px;
  min-width: 320px;
}

.logo {
  background: url("../static/images/logo.png") no-repeat center;
  background-size: contain;
  height: 100px;
}

th.recommended-weight {
  font-size: 0.8rem;
}
