@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/Myriad-Pro.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url("../static/fonts/Myriad-Pro-Bold.ttf");
}

body {
  margin: 0;
}

.logo {
  background: url('../static/images/logo.png') no-repeat center;
  background-size: cover;
  height: 75px;
  width: 75px;
}