@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/Myriad-Pro.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url("../static/fonts/Myriad-Pro-Bold.ttf");
}

body {
  font-family: "Myriad Pro", Arial, sans-serif;
  max-width: 800px;
  min-width: 300px;
}

.logo {
  background: url("../static/images/logo.png") no-repeat center;
  background-size: contain;
  height: 100px;
}
