<div class="form-group">
  <label for="customer-id">Mã KH</label>
  <input class="form-control" id="customer-id" name="customer_id" required type="text" />
</div>
<div class="form-group">
  <label for="full-name">Họ tên</label>
  <input class="form-control" id="full-name" name="full_name" required type="text" />
</div>
<div class="form-group">
  <label for="birth-year">Năm sinh</label>
  <input class="form-control" id="birth-year" max="2010" min="1950" name="birth_year" required type="number" />
</div>
<div class="form-group">
  <label for="height">Chiều cao</label>
  <div class="input-group">
    <input class="form-control" id="height" max="200" min="100" name="height" required type="number" />
    <div class="input-group-append">
      <span class="input-group-text">cm</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="weight">Cân nặng</label>
  <div class="input-group">
    <input class="form-control" id="weight" max="100" min="30" name="weight" required type="number" />
    <div class="input-group-append">
      <span class="input-group-text">kg</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="workout-level">Trình độ</label>
  <select class="custom-select" id="workout-level" name="workout_level" required></select>
</div>
<div class="form-group">
  <label for="weekly-code">Preset lịch tuần</label>
  <select class="custom-select" id="weekly-code" name="weekly_code" required></select>
</div>
<div class="form-group">
  <label for="week-variant">Biến thể tuần</label>
  <select class="custom-select" id="week-variant" name="week_variant" required></select>
</div>
<div class="form-group">
  <label for="week-period">Tuần</label>
  <input class="form-control" id="week-period" name="week_period" required type="week"></input>
</div>